<div class="about-section">
    <h1>About Us</h1><br><br>
    <p>Bringing you the best vegetables,regardless of environment</p>
  </div>
  <div class="para2" style="background-image: url('../assets/images/img1.jpeg'); height: 40vh ">
 <br> <br> <br> <br> 
    <p class="colr"> The vegetable co. was created due to our understanding of industrial agriculture's impact on the world.Appalled by its malpractices, we pursued controlled Environment agriculture a tech based modern indoor farming approach to optimize the use of resources such as water,energy,space cspital and labour through the creation of an optimal growing condition. Our aim is to utilise science and technology as we seek a sustainable way to produce vegetables in an optimal manner.</p>
  </div>
