body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    
  }
  
  html {
    box-sizing: border-box;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  

  
  .about-section {
    padding: 50px;
    text-align: center;
    background-color: #474e5d;
    color: white;
  }
  





  @media screen and (max-width: 650px) {
    .column {
      width: 100%;
      display: block;
    }
  }
  .para2{
    text-align: center;
    
   /*  background-image: url('../assets/images/img2.jpg'); */
  }  
  .colr{
    color: white;
  }