<div class="about-section">
    <h1>About Us</h1><br><br>
    <p>Bringing you the best vegetables,regardless of environment</p>
   <!--  <p>Resize the browser window to see that this page is responsive by the way.</p> -->
  </div>
  <div class="para2" style="background-image: url('../assets/images/img1.jpeg'); height: 40vh ">
 <br> <br> <br> <br> 
    <p class="colr"> The vegetable co. was created due to our understanding of industrial agriculture's impact on the world.Appalled by its malpractices, we pursued controlled Environment agriculture a tech based modern indoor farming approach to optimize the use of resources such as water,energy,space cspital and labour through the creation of an optimal growing condition. Our aim is to utilise science and technology as we seek a sustainable way to produce vegetables in an optimal manner.</p>
  </div>
  <!-- </footer>
  <h2 style="text-align:center">Our Team</h2>
  <div class="row">
    <div class="column">
      <div class="card">
        <img src="../assets/images/img1.jpeg" alt="Jane" style="width:100%">
        <div class="container">
          <h2>Jane Doe</h2>
          <p class="title">CEO & Founder</p>
          <p>Some text that describes me lorem ipsum ipsum lorem.</p>
          <p>jane@example.com</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>
  
    <div class="column">
      <div class="card">
        <img src="/w3images/team2.jpg" alt="Mike" style="width:100%">
        <div class="container">
          <h2>Mike Ross</h2>
          <p class="title">Art Director</p>
          <p>Some text that describes me lorem ipsum ipsum lorem.</p>
          <p>mike@example.com</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>
  
    <div class="column">
      <div class="card">
        <img src="/w3images/team3.jpg" alt="John" style="width:100%">
        <div class="container">
          <h2>John Doe</h2>
          <p class="title">Designer</p>
          <p>Some text that describes me lorem ipsum ipsum lorem.</p>
          <p>john@example.com</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>
  </div>
 -->