<div class="card-top container-fluid">
    <div class="container d-flex">
        <div class="item">
            <a (click)="filter('')">
                <img src="../assets/images/vegetables.jpg" alt="">
                <h6 class="point">All Vegetables</h6>
            </a>
        </div>
        <div class="item">
            <a (click)="filter('dark-green')">
                <img src="../assets/images/dark-green-leafy-vegetables.jpg" alt="">
                <h6 class="point">Dark-Green Vegetables</h6>
            </a>
        </div>
        <div class="item">
            <a (click)="filter('red-orange')">
                <img src="../assets/images/redorange.jpg" alt="">
                <h6 class="point">Red and Orange Vegetables</h6>
            </a>
        </div>
        <div class="item">
            <a (click)="filter('starchy')">
                <img style="width: 62px; margin-top: 5px;" src="../assets/images/starchy.jpg" alt="">
                <h6 class="point">Starchy Vegetables</h6>
            </a>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <!-- act as value on left | act as pipe on right | filter:searchKey:'name'-->
        <ng-container *ngFor="let item of filterCategory "> 
            <div class="card col-md-3">
                <img src="{{item.imageUrl}}" alt="">
                <!-- <h5 style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 100ch;">{{item.title}}</h5>
                <p style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 100ch;">{{item.description}}</p> -->
                
                <p><strong>id:</strong> {{item.id}}</p>
                <p (click)="vegetableSelected(item)"><strong>name:</strong> {{item.name}}</p>
                 <p><strong>Category:</strong> {{item.category}}</p> 
                <p><strong>Price:</strong> INR:{{item.price}}</p>
                 <button class="btn btn-primary" (click)="addtocart(item)" >Add to cart</button> 
            </div>
         </ng-container> 

    </div>
</div> 

