<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <greeting></greeting>
     <button (click)="greet()">Click here</button>
     <div class="container-fluid">
 
 
         <a class="navbar-brand">{{pageTitle}}</a>
        <ul class="navbar-nav mr-auto">
          <li class="nav-item" routerLinkActive="active">
             <a routerLink="/app-about-us" class="nav-link">Aboutus</a>
         </li> 
 
         <li class="nav-item" routerLinkActive="active">
             <a routerLink="/app-contact" class="nav-link">Contact</a>
         </li> 
         <li class="nav-item" routerLinkActive="active">
          <a routerLink="/admin" class="nav-link">Users</a>
      </li> 
      <!-- <li class="nav-item" routerLinkActive="active">
        <a routerLink="/veges" class="nav-link">veges</a>
    </li>  -->
     </ul> 
   <ul class="navbar-nav navbar-right">
     <li class="nav-item"
 *ngIf="isLoggedIn">
  <a class='nav-link' routerLink="/login">Welcome {{userName}}</a></li> 
 
     <li class="nav-item" *ngIf="!isLoggedIn">
         <a class="nav-link" routerLink="/login">Login</a>
         </li>
     <li class="nav-item" *ngIf="isLoggedIn">
     <a class="nav-link" (click)="logOut()" style="cursor:pointer;">LogOut</a>
     </li>
   </ul>
 
 
 
     </div>
 
 
 
 
 </nav>


<!--  <li class="nav-item">
    <a class="nav-link" [routerLink]="['veges']" [routerLinkActive]="['active']">veges-list</a>
  </li> -->
 <!-- <li class="nav-item">
    <a class="nav-link" [routerLink]="['/welcome']" [routerLinkActive]="['active']">welcome</a>
 </li>  -->
  <!-- <app-contact></app-contact>  -->
    <app-veges-shell></app-veges-shell>  
 <router-outlet></router-outlet>