
<div class="card-top container-fluid">
    <div class="container d-flex">
        <div class="item">
            <a (click)="filter('')">
                <img src="../assets/images/vegetables.jpg" alt="">
                <h6 class="point">All Vegetables</h6>
            </a>
        </div>
        <div class="item">
            <a (click)="filter('dark-green')">
                <img src="../assets/images/dark-green-leafy-vegetables.jpg" alt="">
                <h6 class="point">Dark-Green Vegetables</h6>
            </a>
        </div>
        <div class="item">
            <a (click)="filter('red-orange')">
                <img src="../assets/images/redorange.jpg" alt="">
                <h6 class="point">Red and Orange Vegetables</h6>
            </a>
        </div>
        <div class="item">
            <a (click)="filter('starchy')">
                <img style="width: 62px; margin-top: 5px;" src="../assets/images/starchy.jpg" alt="">
                <h6 class="point">Starchy Vegetables</h6>
            </a>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        
        <ng-container *ngFor="let item of filterCategory">
            <div class="card col-md-3">
                <img src="{{item.imageUrl}}" alt="">
               
                
                <!-- <p><strong>id:</strong> {{item.id}}</p> -->
                <p class="mou" (click)="itemSelected(item)"><strong>name:</strong> {{item.name}}</p>
                <!--  <p><strong>Category:</strong>{{item.category}}</p>  -->
                <p><strong>Price:</strong> INR:{{item.price}}</p>
                <p> <button class="btn btn-warning" (click)="itemSelected(item)"> edit</button></p>
                <button (click)="deleteVegetable(item)" class="btn btn-danger" type="button">Delete Product</button>
              <!--   <button    class="btn btn-primary" type="button">Edit Product</button> -->
               <!--   <button class="btn btn-primary" (click)="addtocart(item)" >Add to cart</button>  -->
            </div>
        </ng-container>
        <div class="card-footer">
            <div class="col-md-4 text-right">
              <button class="btn btn-primary" (click)="newVegetable()">Add Vegetable</button>
              </div>
          </div> 
    </div>
</div> 
  <router-outlet></router-outlet> 
