<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
<ng-container *ngIf="veges.length !=0">

    <div class="container">
        <div class="card-table">
            <div class="cart-vege">
                <table class="table table-responsive">
                    <thead>
                        <tr>
                            <th>Sr.No</th>
                            <th>Vegetable Id</th>
                            <th>Vegetable Name</th>
                            <th>Vegetable Category</th>
                            <th>Vegetable Image</th>
                           <!--  <th>Quantity</th> -->
                            <th>Price</th>
                          
                            <th>
                                Total</th>  
                            <th>Action</th>
                        </tr>
                    </thead>
<tbody>
    <tr *ngFor="let item of veges; let i = index">
        
        <td>{{i+1}}</td>
        <td>{{item.id}}</td>
        <td style="width: 25%;">{{item.name}}</td>
        <td style="width: 12%;">{{item.category}}</td>
       
        <td><img style="width: 120px;" src="{{item.imageUrl}}" alt=""></td>
        <!-- <td style="width: 25%;">{{item.quanity}}</td> -->
      <!--   <td style="width: 12%;">{{item.quantity}}</td> -->
    
<!-- <td>
    <div class="items">
        <div class="row no-gutters">
            <div class="col">
                <button (click)="incrementQuantity(item)" class="btn btn-primary btn-sm">
                    <i class="fas fa-plus"></i>
                </button>
            </div>
            <div class="col ml-4 mr-2">
                {{item.quantity}}
            </div>
            <div class="col">
                <button class="btn btn-primary btn-sm">
                    <i class="fas fa-minus"></i>
                </button>
            </div>
        </div>
        
    </div>
</td> -->




        <!-- <td><input type="number" style="width: 50%;" [(ngModel)]="item.quantity"></td> -->
      
   <td style="width: 12%;">{{item.price}}</td>  
        <!--<td>
    <div class="button-container">
        <button class="cart-qty-plus" type="button" value="+">+</button>
        <input type="text" name="qty" min="0" class="qty form contril" value="0">
        <button class="car-qty-minus" type="button" value="-">-</button>
    </div>
</td> -->
<!-- <td><input type="text" value="72" class="price form control" disabled> </td> -->
    <td style="width: 12%;">{{item.total}}</td>
        <td><button (click)="removeItem(item)" class="btn btn-danger"><i class="fas fa-trash-alt"></i></button> </td>
    </tr>


    <tr>
        <td colspan="4"></td>
        <td><button (click)="emptycart()" class="btn btn-danger">Empty Cart</button></td>
        <td><button routerLink="/veges" class="btn btn-primary">Shop More</button></td>
        <td><button routerLink="/payment" class="btn btn-success">Checkout</button></td>
        <td><strong>Grand Total : ${{grandTotal}}</strong></td>
    </tr>
</tbody>
</table>
</div>
</div>
</div>
</ng-container>




<ng-container *ngIf="veges.length ==0">
    <div class="container">
        <div class="card">
            <h5 class="card-title">My Cart</h5>
        </div>
        <div class="center">
            <img src="../assets/images/empty cart.png" alt="">
            <h4>Your cart is empty!</h4>
            <h6>Add item to it now</h6>
            <button routerLink="/veges" class="btn btn-primary">Shop Now</button>
        </div>
    </div>
</ng-container>



</body>
</html>












